/* CSS Document */
/* Species & spaces */
/* Movement & materials */
/* People & professions */
/*History & cultures */
/*History & cultures */
/* CSS Document */
body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

.l-page {
  position: relative;
  min-height: 100%; }

.l-header {
  height: auto;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 10; }

@media (min-width: 768px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

@media (min-width: 1020px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

.l-main.l-constrained {
  padding: 100px 0 100px 0; }

footer.l-footer-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 100%;
  height: 1900px;
  background-color: #efefef !important;
  padding: 0 !important;
  background: url(/sites/all/themes/annex/images/footer_outlines.png) no-repeat bottom center;
  background-size: contain; }

@media (min-width: 768px) {
  footer.l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    height: 900px;
    background-color: #efefef;
    padding: 0 !important; } }

/* CSS Document */
a:link, a:hover, a:active, a:visited {
  color: #ea4e1b;
  text-decoration: none; }

/* Set overall font-sizes */
/* Font sizing */
h1 {
  font-size: 30px;
  font-size: 2.5rem; }

h2 {
  font-size: 24px;
  font-size: 2rem; }

h3 {
  font-size: 20px;
  font-size: 1.66667rem; }

h4 {
  font-size: 16px;
  font-size: 1.33333rem; }

h5 {
  font-size: 12px;
  font-size: 1rem; }

h6 {
  font-size: 10px;
  font-size: 0.83333rem; }

p, li {
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 16px;
  font-size: 1.33333rem;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem;
  line-height: 1.75rem; }

ol {
  list-style-type: decimal;
  margin-left: 22px; }

em, i {
  font-family: "Frutiger LT W01_46 Ligh1475734"; }

strong, b {
  font-family: "Frutiger LT W01_65 Bold1475746"; }

em strong, strong em, b i, i b {
  font-family: "Frutiger LT W01_66 Bold Italic"; }

/* Font styling */
h1, h2, h3, h4, h5, h6 {
  font-family: "Futura LT W01 Book";
  color: #137f9a;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem; }

/* logo pane */
#logo {
  width: 100%;
  display: block;
  padding-top: 15px;
  text-align: center; }

#logo img {
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto; }

@media (min-width: 768px) {
  #logo {
    width: 350px;
    display: block;
    padding-top: 15px;
    margin: 0; }
  #logo img {
    min-width: 90%;
    max-width: 100%; } }

/* MOBILE SUPERFISH */
.sf-accordion-toggle {
  padding: 10px 0 25px 0;
  background-color: #ea4e1b; }

.sf-accordion-toggle span {
  float: left;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  text-transform: uppercase;
  padding-bottom: 10px; }

#superfish-1-accordion {
  background-color: #fdede8; }

ul#superfish-1-accordion li {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-size: 1rem; }

ul#superfish-1-accordion li:hover {
  background: #fdede8; }

/* Superfish navigation main menu */
#superfish-1 {
  width: 100%;
  float: left;
  padding: 80px 20px 0 0; }

#superfish-1 li {
  float: right;
  margin-right: 0;
  width: auto;
  padding: 10px 25px;
  font-size: 14px;
  font-size: 1.16667rem;
  transition: background 300ms ease-in; }

#superfish-1 li.first {
  margin-right: 20px; }

#superfish-1 li:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: background 300ms ease-in; }

#superfish-1 li.active-trail {
  background: rgba(255, 255, 255, 0.8);
  transition: background 300ms ease-in; }

#superfish-1 li ul {
  background: #ea4e1b;
  position: fixed;
  width: 100%;
  margin-top: 105px; }

.logged-in #superfish-1 li ul {
  margin-top: 135px; }

@media (min-width: 768px) {
  #superfish-1 li ul li {
    padding: 10px;
    font-size: 11px;
    font-size: 0.91667rem;
    transition: font-size 300ms ease-in;
    transition: padding 300ms ease-in; } }

@media (min-width: 1020px) {
  #superfish-1 li ul li {
    padding: 10px 25px;
    font-size: 14px;
    font-size: 1.16667rem; } }

#superfish-1 li ul li a {
  color: white; }

#superfish-1 li.active-trail a {
  color: #ea4e1b; }

/* Set footer styles */
.l-region--footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-top: 40px; }

.l-region--footer p {
  font-size: 12px;
  font-size: 1rem;
  line-height: 1.25em; }

.l-region--footer h2 {
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.16667rem;
  line-height: 1.25em; }

#recent-content {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  font-size: 12px;
  font-size: 1rem;
  border-bottom: 1px solid #ddd; }

#footer-contact {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd; }

#footer-inst {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd;
  text-align: center; }
  #footer-inst img {
    padding: 0 0 40px;
    float: left;
    width: 33%;
    margin: 0 33%; }
  #footer-inst h2 {
    text-align: left; }

#footer-fund {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd;
  text-align: center; }

#social-media {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both; }

@media (min-width: 768px) {
  .l-region--footer p {
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25em; }
  .l-region--footer h2 {
    font-size: 14px;
    font-size: 1.16667rem;
    line-height: 1.25em; }
  #recent-content {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    border-bottom: none; }
  #footer-contact {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    border-bottom: none; }
  #footer-inst {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
    border-bottom: none; }
  #footer-inst p {
    width: 200px; }
  #footer-inst img {
    width: 70%;
    margin: 0; }
  #footer-fund {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
    border-bottom: none;
    text-align: left; }
  #footer-fund img {
    width: 50%;
    margin: 0; }
  #social-media {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none; } }

#social-media ul li {
  float: left;
  clear: none;
  margin: 5px 20px 5px 0;
  width: 40px;
  height: 33px;
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  font-size: 1.16667rem;
  color: #137f9a;
  border-radius: 50%;
  background: #c4dfe6; }

#social-media ul li:hover {
  background: #89bfcc; }

@media (min-width: 768px) {
  #social-media ul li {
    clear: both; } }

.view-recent-content {
  font-family: "Frutiger LT W01_45 Ligh1475730"; }
  .view-recent-content .views-row {
    float: left;
    width: 100%;
    margin: 5px 0;
    padding: 7px 0; }
  .view-recent-content .views-field-title {
    font-size: 16px;
    font-size: 1.33333rem;
    padding: 7px 0; }

/* Page hero area */
#hero {
  height: 300px;
  overflow: hidden; }

/* overrides for pageswhere we want to hide the hero area */
.page-user #hero, .page-blogs #hero, .page-projects #hero {
  display: none; }

.page-user .l-header, .page-blogs .l-header, .page-projects .l-header {
  border-bottom: 3px solid #f9d3c6; }

/* HOMEPAGE HERO */
.front #hero {
  position: relative;
  width: 100%; }

/* pages where there is a header image and strapline */
.front #hero .pane-node-field-strapline {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  padding: 40px 0 0 0;
  top: 0;
  z-index: 9;
  font-size: 20px;
  font-size: 1.66667rem;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  min-width: 100% !important; }
  .front #hero .pane-node-field-strapline .field__item {
    width: 80%;
    max-width: 960px;
    padding-left: 50px; }
  @media (min-width: 768px) {
    .front #hero .pane-node-field-strapline {
      top: 80px;
      height: 340px;
      padding: 180px 0 0 60px;
      font-size: 30px;
      font-size: 2.5rem; } }
  @media (min-width: 1020px) {
    .front #hero .pane-node-field-strapline {
      top: 120px;
      height: 300px;
      padding: 180px 0 0 100px;
      font-size: 30px;
      font-size: 2.5rem; } }

.pane-node-field-page-image {
  position: absolute;
  height: 300px;
  overflow: hidden;
  left: 0; }

.pane-node-field-page-image img {
  min-width: 100%;
  min-height: 300px; }

#hero .pane-page-title {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: absolute;
  width: 100%;
  top: inherit;
  left: 0; }

/*SEARCH PAGE OVERRIDE AND OVERRIDE FOR THE PAGE UNDER CONSTRUCTION - NODE 23*/
.page-node-23 #hero .pane-page-title,
.page-search #hero .pane-page-title {
  top: 150px; }

#hero .pane-page-title h1 {
  position: relative;
  top: 0;
  width: 83%;
  padding: 20px 8.5%;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 30px;
  font-size: 2.5rem;
  margin: 0;
  z-index: 9; }

#hero .pane-node-field-strapline,
#hero .pane-node-field-project-strapline {
  position: absolute;
  top: 200px;
  width: 83%;
  padding: 50px 8.5%;
  font-size: 16px;
  font-size: 1.33333rem;
  color: white;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  line-height: 1.5em;
  z-index: 8;
  max-width: 1220px;
  left: 0; }

/* GRIDDED DISPLAY */
@media (min-width: 768px) {
  #hero {
    position: relative;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image {
    position: absolute;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image img {
    min-width: 100%;
    min-height: 600px; }
  #hero .pane-page-title {
    position: absolute;
    height: 600px;
    top: 180px; }
  #hero .pane-page-title h1 {
    padding: 75px 8.5%;
    font-size: 40px;
    font-size: 3.33333rem; }
  #hero .pane-node-field-strapline,
  #hero .pane-node-field-project-strapline {
    position: absolute;
    top: 320px;
    width: 83%;
    padding: 50px 8.5%;
    font-size: 22px;
    font-size: 1.83333rem;
    color: white;
    font-family: "Frutiger LT W01_46 Ligh1475734";
    line-height: 1.5em;
    z-index: 8;
    max-width: 960px; } }

.l-main.l-constrained {
  padding: 180px 0 50px 0;
  overflow: hidden;
  *zoom: 1; }

.l-highlighted-wrapper {
  padding-top: 0; }

.l-content {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none; }

@media (min-width: 768px) {
  .l-content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none; } }

.field--name-field-title,
.field--name-field-name,
.field--name-field-last-name {
  float: left;
  margin: 0 8px 10px 0;
  font-family: "Futura LT W01 Book";
  font-size: 18px;
  font-size: 1.5rem; }

.field--name-field-institution {
  font-family: "Futura LT W01 Book";
  font-size: 18px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  float: left;
  width: 100%; }

.field--name-field-biography {
  float: left;
  width: 100%; }

/* SIDEBAR VIEW FIELDS */
.view-the-team .views-field-mail {
  font-family: "Futura LT W01 Book";
  width: 100%;
  background: #fdede8;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase; }

.view-the-team .views-field-mail:hover {
  background: #f9d3c6; }

/*# sourceMappingURL=user.styles.css.map */
