/* CSS Document */

body, html {
	padding:0;
	margin:0;
	height:100%;
}

.l-page {
	position:relative;
	min-height:100%;
}

.l-header {
	height:auto;
	position:relative;
	width:100%;
	background-color:white;
	z-index: 10;
	
}

@include breakpoint($tab) {
	.l-header {
		height:153px;
		position:fixed;
	}
	.l-highlighted-wrapper {
		padding:150px 0 0 0;
	}
}


@include breakpoint($desk) {
	.l-header {
		height:153px;
		position:fixed;
	}
	.l-highlighted-wrapper {
		padding:150px 0 0 0;
	}
}



.l-main.l-constrained {
	padding:100px 0 100px 0;

}

footer.l-footer-wrapper {
	@include grid-span(12,1);
	width:100%;
	height:1900px;
	background-color: #efefef !important;
	padding:0 !important;
	background:url(/sites/all/themes/annex/images/footer_outlines.png) no-repeat bottom center;
	background-size:contain;
}

@include breakpoint($tab) {

	footer.l-footer-wrapper {
	@include grid-span(12,1);
	width:100%;
	height:900px;
	background-color: #efefef;
	padding:0 !important;
}



}