/* CSS Document */
/* Species & spaces */
/* Movement & materials */
/* People & professions */
/*History & cultures */
/*History & cultures */
/* CSS Document */
body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

.l-page {
  position: relative;
  min-height: 100%; }

.l-header {
  height: auto;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 10; }

@media (min-width: 768px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

@media (min-width: 1020px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

.l-main.l-constrained {
  padding: 100px 0 100px 0; }

footer.l-footer-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 100%;
  height: 1900px;
  background-color: #efefef !important;
  padding: 0 !important;
  background: url(/sites/all/themes/annex/images/footer_outlines.png) no-repeat bottom center;
  background-size: contain; }

@media (min-width: 768px) {
  footer.l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    height: 900px;
    background-color: #efefef;
    padding: 0 !important; } }

/* CSS Document */
a:link, a:hover, a:active, a:visited {
  color: #ea4e1b;
  text-decoration: none; }

/* Set overall font-sizes */
/* Font sizing */
h1 {
  font-size: 30px;
  font-size: 2.5rem; }

h2 {
  font-size: 24px;
  font-size: 2rem; }

h3 {
  font-size: 20px;
  font-size: 1.66667rem; }

h4 {
  font-size: 16px;
  font-size: 1.33333rem; }

h5 {
  font-size: 12px;
  font-size: 1rem; }

h6 {
  font-size: 10px;
  font-size: 0.83333rem; }

p, li {
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 16px;
  font-size: 1.33333rem;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem;
  line-height: 1.75rem; }

ol {
  list-style-type: decimal;
  margin-left: 22px; }

em, i {
  font-family: "Frutiger LT W01_46 Ligh1475734"; }

strong, b {
  font-family: "Frutiger LT W01_65 Bold1475746"; }

em strong, strong em, b i, i b {
  font-family: "Frutiger LT W01_66 Bold Italic"; }

/* Font styling */
h1, h2, h3, h4, h5, h6 {
  font-family: "Futura LT W01 Book";
  color: #137f9a;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem; }

/* logo pane */
#logo {
  width: 100%;
  display: block;
  padding-top: 15px;
  text-align: center; }

#logo img {
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto; }

@media (min-width: 768px) {
  #logo {
    width: 350px;
    display: block;
    padding-top: 15px;
    margin: 0; }
  #logo img {
    min-width: 90%;
    max-width: 100%; } }

/* MOBILE SUPERFISH */
.sf-accordion-toggle {
  padding: 10px 0 25px 0;
  background-color: #ea4e1b; }

.sf-accordion-toggle span {
  float: left;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  text-transform: uppercase;
  padding-bottom: 10px; }

#superfish-1-accordion {
  background-color: #fdede8; }

ul#superfish-1-accordion li {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-size: 1rem; }

ul#superfish-1-accordion li:hover {
  background: #fdede8; }

/* Superfish navigation main menu */
#superfish-1 {
  width: 100%;
  float: left;
  padding: 80px 20px 0 0; }

#superfish-1 li {
  float: right;
  margin-right: 0;
  width: auto;
  padding: 10px 25px;
  font-size: 14px;
  font-size: 1.16667rem;
  transition: background 300ms ease-in; }

#superfish-1 li.first {
  margin-right: 20px; }

#superfish-1 li:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: background 300ms ease-in; }

#superfish-1 li.active-trail {
  background: rgba(255, 255, 255, 0.8);
  transition: background 300ms ease-in; }

#superfish-1 li ul {
  background: #ea4e1b;
  position: fixed;
  width: 100%;
  margin-top: 105px; }

.logged-in #superfish-1 li ul {
  margin-top: 135px; }

@media (min-width: 768px) {
  #superfish-1 li ul li {
    padding: 10px;
    font-size: 11px;
    font-size: 0.91667rem;
    transition: font-size 300ms ease-in;
    transition: padding 300ms ease-in; } }

@media (min-width: 1020px) {
  #superfish-1 li ul li {
    padding: 10px 25px;
    font-size: 14px;
    font-size: 1.16667rem; } }

#superfish-1 li ul li a {
  color: white; }

#superfish-1 li.active-trail a {
  color: #ea4e1b; }

/* Set footer styles */
.l-region--footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-top: 40px; }

.l-region--footer p {
  font-size: 12px;
  font-size: 1rem;
  line-height: 1.25em; }

.l-region--footer h2 {
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.16667rem;
  line-height: 1.25em; }

#recent-content {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  font-size: 12px;
  font-size: 1rem;
  border-bottom: 1px solid #ddd; }

#footer-contact {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd; }

#footer-inst {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd;
  text-align: center; }
  #footer-inst img {
    padding: 0 0 40px;
    float: left;
    width: 33%;
    margin: 0 33%; }
  #footer-inst h2 {
    text-align: left; }

#social-media {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both; }

@media (min-width: 768px) {
  .l-region--footer p {
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25em; }
  .l-region--footer h2 {
    font-size: 14px;
    font-size: 1.16667rem;
    line-height: 1.25em; }
  #recent-content {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    border-bottom: none; }
  #footer-contact {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    border-bottom: none; }
  #footer-inst {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
    border-bottom: none; }
  #footer-inst p {
    width: 200px; }
  #footer-inst img {
    width: 70%;
    margin: 0; }
  #social-media {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none; } }

#social-media ul li {
  float: left;
  clear: none;
  margin: 5px 20px 5px 0;
  width: 40px;
  height: 33px;
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  font-size: 1.16667rem;
  color: #137f9a;
  border-radius: 50%;
  background: #c4dfe6; }

#social-media ul li:hover {
  background: #89bfcc; }

@media (min-width: 768px) {
  #social-media ul li {
    clear: both; } }

.view-recent-content {
  font-family: "Frutiger LT W01_45 Ligh1475730"; }
  .view-recent-content .views-row {
    float: left;
    width: 100%;
    margin: 5px 0;
    padding: 7px 0; }
  .view-recent-content .views-field-title {
    font-size: 16px;
    font-size: 1.33333rem;
    padding: 7px 0; }

/* Page hero area */
#hero {
  height: 300px;
  overflow: hidden; }

/* overrides for pageswhere we want to hide the hero area */
.page-user #hero, .page-blogs #hero, .page-projects #hero {
  display: none; }

.page-user .l-header, .page-blogs .l-header, .page-projects .l-header {
  border-bottom: 3px solid #f9d3c6; }

/* HOMEPAGE HERO */
.front #hero {
  position: relative;
  width: 100%; }

/* pages where there is a header image and strapline */
.front #hero .pane-node-field-strapline {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  padding: 40px 0 0 0;
  top: 0;
  z-index: 9;
  font-size: 20px;
  font-size: 1.66667rem;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  min-width: 100% !important; }
  .front #hero .pane-node-field-strapline .field__item {
    width: 80%;
    max-width: 960px;
    padding-left: 50px; }
  @media (min-width: 768px) {
    .front #hero .pane-node-field-strapline {
      top: 80px;
      height: 340px;
      padding: 180px 0 0 60px;
      font-size: 30px;
      font-size: 2.5rem; } }
  @media (min-width: 1020px) {
    .front #hero .pane-node-field-strapline {
      top: 120px;
      height: 300px;
      padding: 180px 0 0 100px;
      font-size: 30px;
      font-size: 2.5rem; } }

.pane-node-field-page-image {
  position: absolute;
  height: 300px;
  overflow: hidden;
  left: 0; }

.pane-node-field-page-image img {
  min-width: 100%;
  min-height: 300px; }

#hero .pane-page-title {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: absolute;
  width: 100%;
  top: inherit;
  left: 0; }

/*SEARCH PAGE OVERRIDE AND OVERRIDE FOR THE PAGE UNDER CONSTRUCTION - NODE 23*/
.page-node-23 #hero .pane-page-title,
.page-search #hero .pane-page-title {
  top: 150px; }

#hero .pane-page-title h1 {
  position: relative;
  top: 0;
  width: 83%;
  padding: 20px 8.5%;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 30px;
  font-size: 2.5rem;
  margin: 0;
  z-index: 9; }

#hero .pane-node-field-strapline,
#hero .pane-node-field-project-strapline {
  position: absolute;
  top: 200px;
  width: 83%;
  padding: 50px 8.5%;
  font-size: 16px;
  font-size: 1.33333rem;
  color: white;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  line-height: 1.5em;
  z-index: 8;
  max-width: 1220px;
  left: 0; }

/* GRIDDED DISPLAY */
@media (min-width: 768px) {
  #hero {
    position: relative;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image {
    position: absolute;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image img {
    min-width: 100%;
    min-height: 600px; }
  #hero .pane-page-title {
    position: absolute;
    height: 600px;
    top: 180px; }
  #hero .pane-page-title h1 {
    padding: 75px 8.5%;
    font-size: 40px;
    font-size: 3.33333rem; }
  #hero .pane-node-field-strapline,
  #hero .pane-node-field-project-strapline {
    position: absolute;
    top: 320px;
    width: 83%;
    padding: 50px 8.5%;
    font-size: 22px;
    font-size: 1.83333rem;
    color: white;
    font-family: "Frutiger LT W01_46 Ligh1475734";
    line-height: 1.5em;
    z-index: 8;
    max-width: 960px; } }

.l-main.l-constrained {
  padding-top: 20px; }

.l-highlighted-wrapper {
  padding-top: 0; }

.pane-page-tabs {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  float: none; }

/* structure */
.l-main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: none; }

#content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  padding-bottom: 50px; }

.l-content {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none; }

.l-region--sidebar-first {
  display: none; }

@media (min-width: 768px) {
  .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
  .l-region--sidebar-first {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    display: inherit; } }

/* HISTORY & CULTURES */
.history-cultures .l-header {
  border-bottom: 3px solid #800cb0; }

.history-cultures h1, .history-cultures h2, .history-cultures h3, .history-cultures h4, .history-cultures h5, .history-cultures h6,
.history-cultures a:link, .history-cultures a:visited, .history-cultures a:hover, .history-cultures a:active {
  color: #800cb0; }

.history-cultures #superfish-1 li ul {
  background-color: #800cb0; }

.history-cultures h1 {
  margin: 30px 0 50px; }

.history-cultures #superfish-1 li.active-trail a {
  color: #800cb0; }

.history-cultures #superfish-1-accordion {
  background-color: #f2e6f7; }

.history-cultures .sf-accordion-toggle {
  background-color: #800cb0; }

.history-cultures #superfish-1-accordion li:hover {
  background: #dfc2eb; }

/* SPECIES & SPACES */
.species-spaces .l-header {
  border-bottom: 3px solid #6fb121; }

.species-spaces h1, .species-spaces h2, .species-spaces h3, .species-spaces h4, .species-spaces h5, .species-spaces h6,
.species-spaces a:link, .species-spaces a:visited, .species-spaces a:hover, .species-spaces a:active {
  color: #6fb121; }

.species-spaces #superfish-1 li ul {
  background-color: #6fb121; }

.species-spaces h1 {
  margin: 30px 0 50px; }

.species-spaces #superfish-1 li.active-trail a {
  color: #6fb121; }

.species-spaces #superfish-1-accordion {
  background-color: #f0f7e8; }

.species-spaces .sf-accordion-toggle {
  background-color: #6fb121; }

.species-spaces #superfish-1-accordion li:hover {
  background: #dbebc7; }

/* MARKETS AND MATERIALS */
.markets-materials .l-header {
  border-bottom: 3px solid #fdc200; }

.markets-materials h1, .markets-materials h2, .markets-materials h3, .markets-materials h4, .markets-materials h5, .markets-materials h6,
.markets-materials a:link, .markets-materials a:visited, .markets-materials a:hover, .markets-materials a:active {
  color: #fdc200; }

.markets-materials #superfish-1 li ul {
  background-color: #fdc200; }

.markets-materials h1 {
  margin: 30px 0 50px; }

.markets-materials #superfish-1 li.active-trail a {
  color: #fdc200; }

.markets-materials #superfish-1-accordion {
  background-color: #fff9e5; }

.markets-materials .sf-accordion-toggle {
  background-color: #fdc200; }

.markets-materials #superfish-1-accordion li:hover {
  background: #fef0bf; }

/* PEOPLE AND PROFESSIONS */
.people-professions .l-header {
  border-bottom: 3px solid #f9c8c8; }

.people-professions h1, .people-professions h2, .people-professions h3, .people-professions h4, .people-professions h5, .people-professions h6,
.people-professions a:link, .people-professions a:visited, .people-professions a:hover, .people-professions a:active {
  color: #e92222; }

.people-professions #superfish-1 li ul {
  background-color: #e92222; }

.people-professions h1 {
  margin: 30px 0 50px; }

.people-professions #superfish-1 li.active-trail a {
  color: #e92222; }

.people-professions #superfish-1-accordion {
  background-color: #fde8e8; }

.people-professions .sf-accordion-toggle {
  background-color: #e92222; }

.people-professions #superfish-1-accordion li:hover {
  background: #f9c8c8; }

/* ENGAGEMENT & ENCOUNTERS */
.engagement-encounters h1, .engagement-encounters h2, .engagement-encounters h3, .engagement-encounters h4, .engagement-encounters h5, .engagement-encounters h6,
.engagement-encounters a:link, .engagement-encounters a:visited, .engagement-encounters a:hover, .engagement-encounters a:active {
  color: #137f9a; }

.engagement-encounters #superfish-1 li ul {
  background-color: #137f9a; }

.engagement-encounters h1 {
  margin: 30px 0 50px; }

.engagement-encounters #superfish-1 li.active-trail a {
  color: #137f9a; }

.engagement-encounters #superfish-1-accordion {
  background-color: #e7f2f5; }

.engagement-encounters .sf-accordion-toggle {
  background-color: #137f9a; }

.engagement-encounters #superfish-1-accordion li:hover {
  background: #c4dfe6; }

/* COLLABORATION & COMMUNICATION */
.collab-communication h1, .collab-communication h2, .collab-communication h3, .collab-communication h4, .collab-communication h5, .collab-communication h6,
.collab-communication a:link, .collab-communication a:visited, .collab-communication a:hover, .collab-communication a:active {
  color: #e05181; }

.collab-communication #superfish-1 li ul {
  background-color: #e05181; }

.collab-communication h1 {
  margin: 30px 0 50px; }

.collab-communication #superfish-1 li.active-trail a {
  color: #e05181; }

.collab-communication #superfish-1-accordion {
  background-color: #fcedf2; }

.collab-communication .sf-accordion-toggle {
  background-color: #e05181; }

.collab-communication #superfish-1-accordion li:hover {
  background: #f7d3df; }

.pane-menu-menu-collaboration-submenu ul.menu,
.pane-menu-menu-collaboration-submenu li.leaf {
  list-style: none;
  list-style-image: none; }

.pane-menu-menu-collaboration-submenu li.leaf {
  padding: 10px;
  border-bottom: 1px solid #f7d3df; }

.pane-menu-menu-collaboration-submenu li.leaf:hover {
  background: #fcedf2;
  border-bottom: 1px solid #e05181; }

/*# sourceMappingURL=projects.styles.css.map */
