/* CSS Document */
/* Species & spaces */
/* Movement & materials */
/* People & professions */
/*History & cultures */
/*History & cultures */
/* CSS Document */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=c8586940-eb3a-40c8-8f7b-848e629b2d0b");
body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

.l-page {
  position: relative;
  min-height: 100%; }

.l-header {
  height: auto;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 10; }

@media (min-width: 768px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

@media (min-width: 1020px) {
  .l-header {
    height: 153px;
    position: fixed; }
  .l-highlighted-wrapper {
    padding: 150px 0 0 0; } }

.l-main.l-constrained {
  padding: 100px 0 100px 0; }

footer.l-footer-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 100%;
  height: 1900px;
  background-color: #efefef !important;
  padding: 0 !important;
  background: url(/sites/all/themes/annex/images/footer_outlines.png) no-repeat bottom center;
  background-size: contain; }

@media (min-width: 768px) {
  footer.l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    height: 900px;
    background-color: #efefef;
    padding: 0 !important; } }

/* CSS Document */
a:link, a:hover, a:active, a:visited {
  color: #ea4e1b;
  text-decoration: none; }

@font-face {
  font-family: "Frutiger LT W01_45 Ligh1475730";
  src: url("/sites/all/themes/annex/css/Fonts/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix") format("eot"), url("Fonts/087d8a95-3f25-4bae-a1d1-db9ddffd72f5.woff2") format("woff2"), url("Fonts/ab1bcdf7-9570-4cba-a8e3-3e39ddd861db.woff") format("woff"), url("Fonts/83c94878-06c8-442c-a7df-d520b0ced00b.ttf") format("truetype"), url("Fonts/29f3ff8a-1719-4e25-a757-53ee1a1114a5.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg"); }

@font-face {
  font-family: "Frutiger LT W01_46 Ligh1475734";
  src: url("/sites/all/themes/annex/css/Fonts/381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix") format("eot"), url("Fonts/db6ed4c5-5248-41f3-a6b5-4e8ff1d5ab06.woff2") format("woff2"), url("Fonts/38f88aba-a7d0-4a78-9323-ac58226d277e.woff") format("woff"), url("Fonts/1149176e-a9be-41bf-822e-275d9da199e5.ttf") format("truetype"), url("Fonts/cd75c3e3-c5b7-4a25-9498-cabe4e8a9076.svg#cd75c3e3-c5b7-4a25-9498-cabe4e8a9076") format("svg"); }

@font-face {
  font-family: "Frutiger LT W01_65 Bold1475746";
  src: url("/sites/all/themes/annex/css/Fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"), url("Fonts/8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"), url("Fonts/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"), url("Fonts/5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"), url("Fonts/eae74276-dd78-47e4-9b27-dac81c3411ca.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg"); }

@font-face {
  font-family: "Frutiger LT W01_66 Bold Italic";
  src: url("/sites/all/themes/annex/css/Fonts/36c26121-ef21-4e44-9f00-0388185c96aa.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/36c26121-ef21-4e44-9f00-0388185c96aa.eot?#iefix") format("eot"), url("Fonts/9e60a7b4-389b-4630-9fa6-1abd9be2035f.woff2") format("woff2"), url("Fonts/3048913e-d0c8-4b82-978a-aa862248bea4.woff") format("woff"), url("Fonts/db4ea3f5-223b-4821-957f-6eb868db73b1.ttf") format("truetype"), url("Fonts/8ad009ab-a7e5-4acb-8ca5-326d2a759924.svg#8ad009ab-a7e5-4acb-8ca5-326d2a759924") format("svg"); }

@font-face {
  font-family: "Futura LT W01 Light";
  src: url("/sites/all/themes/annex/css/Fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"), url("Fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"), url("Fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"), url("Fonts/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"), url("Fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg"); }

@font-face {
  font-family: "Futura LT W01 Light Oblique";
  src: url("/sites/all/themes/annex/css/Fonts/65d2d2f2-a130-47d4-b7db-1d4a0cd63b4b.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/65d2d2f2-a130-47d4-b7db-1d4a0cd63b4b.eot?#iefix") format("eot"), url("Fonts/f6be6d1e-a972-4744-8e7b-5379116f644d.woff2") format("woff2"), url("Fonts/8444512b-291a-403f-99eb-5ec8a1e3c7e2.woff") format("woff"), url("Fonts/c151aaa9-4ac5-4588-bb55-4d49e5b4186b.ttf") format("truetype"), url("Fonts/415b9e60-459a-4d4d-8097-fe693379e60e.svg#415b9e60-459a-4d4d-8097-fe693379e60e") format("svg"); }

@font-face {
  font-family: "Futura LT W01 Book";
  src: url("/sites/all/themes/annex/css/Fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"), url("Fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"), url("Fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"), url("Fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype"), url("Fonts/dc423cc1-bf86-415c-bc7d-ad7dde416a34.svg#dc423cc1-bf86-415c-bc7d-ad7dde416a34") format("svg"); }

@font-face {
  font-family: "Futura LT W01 Book Oblique";
  src: url("/sites/all/themes/annex/css/Fonts/834e05b5-87ff-453f-9d74-a93eb930e1ec.eot?#iefix");
  src: url("/sites/all/themes/annex/css/Fonts/834e05b5-87ff-453f-9d74-a93eb930e1ec.eot?#iefix") format("eot"), url("Fonts/159c40d5-d5b5-4d06-b7ba-7762c03ce985.woff2") format("woff2"), url("Fonts/03937062-17d3-443d-809c-d51e0397aaa3.woff") format("woff"), url("Fonts/19124b27-09ee-4d4c-b213-ec1c114d2945.ttf") format("truetype"), url("Fonts/d47d028d-8ba8-46fb-b997-ec2e42ecdcc8.svg#d47d028d-8ba8-46fb-b997-ec2e42ecdcc8") format("svg"); }

/* Set overall font-sizes */
/* Font sizing */
h1 {
  font-size: 30px;
  font-size: 2.5rem; }

h2 {
  font-size: 24px;
  font-size: 2rem; }

h3 {
  font-size: 20px;
  font-size: 1.66667rem; }

h4 {
  font-size: 16px;
  font-size: 1.33333rem; }

h5 {
  font-size: 12px;
  font-size: 1rem; }

h6 {
  font-size: 10px;
  font-size: 0.83333rem; }

p, li {
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 16px;
  font-size: 1.33333rem;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem;
  line-height: 1.75rem; }

ol {
  list-style-type: decimal;
  margin-left: 22px; }

em, i {
  font-family: "Frutiger LT W01_46 Ligh1475734"; }

strong, b {
  font-family: "Frutiger LT W01_65 Bold1475746"; }

em strong, strong em, b i, i b {
  font-family: "Frutiger LT W01_66 Bold Italic"; }

/* Font styling */
h1, h2, h3, h4, h5, h6 {
  font-family: "Futura LT W01 Book";
  color: #137f9a;
  margin-bottom: 16px;
  margin-bottom: 1.33333rem; }

/* logo pane */
#logo {
  width: 100%;
  display: block;
  padding-top: 15px;
  text-align: center; }

#logo img {
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto; }

@media (min-width: 768px) {
  #logo {
    width: 350px;
    display: block;
    padding-top: 15px;
    margin: 0; }
  #logo img {
    min-width: 90%;
    max-width: 100%; } }

/* MOBILE SUPERFISH */
.sf-accordion-toggle {
  padding: 10px 0 25px 0;
  background-color: #ea4e1b; }

.sf-accordion-toggle span {
  float: left;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  text-transform: uppercase;
  padding-bottom: 10px; }

#superfish-1-accordion {
  background-color: #fdede8; }

ul#superfish-1-accordion li {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-size: 1rem; }

ul#superfish-1-accordion li:hover {
  background: #fdede8; }

/* Superfish navigation main menu */
#superfish-1 {
  width: 100%;
  float: left;
  padding: 80px 20px 0 0; }

#superfish-1 li {
  float: right;
  margin-right: 0;
  width: auto;
  padding: 10px 25px;
  font-size: 14px;
  font-size: 1.16667rem;
  transition: background 300ms ease-in; }

#superfish-1 li.first {
  margin-right: 20px; }

#superfish-1 li:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: background 300ms ease-in; }

#superfish-1 li.active-trail {
  background: rgba(255, 255, 255, 0.8);
  transition: background 300ms ease-in; }

#superfish-1 li ul {
  background: #ea4e1b;
  position: fixed;
  width: 100%;
  margin-top: 105px; }

.logged-in #superfish-1 li ul {
  margin-top: 135px; }

@media (min-width: 768px) {
  #superfish-1 li ul li {
    padding: 10px;
    font-size: 11px;
    font-size: 0.91667rem;
    transition: font-size 300ms ease-in;
    transition: padding 300ms ease-in; } }

@media (min-width: 1020px) {
  #superfish-1 li ul li {
    padding: 10px 25px;
    font-size: 14px;
    font-size: 1.16667rem; } }

#superfish-1 li ul li a {
  color: white; }

#superfish-1 li.active-trail a {
  color: #ea4e1b; }

/* Set footer styles */
.l-region--footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-top: 40px; }

.l-region--footer p {
  font-size: 12px;
  font-size: 1rem;
  line-height: 1.25em; }

.l-region--footer h2 {
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.16667rem;
  line-height: 1.25em; }

#recent-content {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  font-size: 12px;
  font-size: 1rem;
  border-bottom: 1px solid #ddd; }

#footer-contact {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd; }

#footer-inst {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both;
  border-bottom: 1px solid #ddd;
  text-align: center; }
  #footer-inst img {
    padding: 0 0 40px;
    float: left;
    width: 33%;
    margin: 0 33%; }
  #footer-inst h2 {
    text-align: left; }

#social-media {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: both; }

@media (min-width: 768px) {
  .l-region--footer p {
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25em; }
  .l-region--footer h2 {
    font-size: 14px;
    font-size: 1.16667rem;
    line-height: 1.25em; }
  #recent-content {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    border-bottom: none; }
  #footer-contact {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    border-bottom: none; }
  #footer-inst {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
    border-bottom: none; }
  #footer-inst p {
    width: 200px; }
  #footer-inst img {
    width: 70%;
    margin: 0; }
  #social-media {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none; } }

#social-media ul li {
  float: left;
  clear: none;
  margin: 5px 20px 5px 0;
  width: 40px;
  height: 33px;
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  font-size: 1.16667rem;
  color: #137f9a;
  border-radius: 50%;
  background: #c4dfe6; }

#social-media ul li:hover {
  background: #89bfcc; }

@media (min-width: 768px) {
  #social-media ul li {
    clear: both; } }

.view-recent-content {
  font-family: "Frutiger LT W01_45 Ligh1475730"; }
  .view-recent-content .views-row {
    float: left;
    width: 100%;
    margin: 5px 0;
    padding: 7px 0; }
  .view-recent-content .views-field-title {
    font-size: 16px;
    font-size: 1.33333rem;
    padding: 7px 0; }

/* Page hero area */
#hero {
  height: 300px;
  overflow: hidden; }

/* overrides for pageswhere we want to hide the hero area */
.page-user #hero, .page-blogs #hero, .page-projects #hero {
  display: none; }

.page-user .l-header, .page-blogs .l-header, .page-projects .l-header {
  border-bottom: 3px solid #f9d3c6; }

/* HOMEPAGE HERO */
.front #hero {
  position: relative;
  width: 100%; }

/* pages where there is a header image and strapline */
.front #hero .pane-node-field-strapline {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  padding: 40px 0 0 0;
  top: 0;
  z-index: 9;
  font-size: 20px;
  font-size: 1.66667rem;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  min-width: 100% !important; }
  .front #hero .pane-node-field-strapline .field__item {
    width: 80%;
    max-width: 960px;
    padding-left: 50px; }
  @media (min-width: 768px) {
    .front #hero .pane-node-field-strapline {
      top: 80px;
      height: 340px;
      padding: 180px 0 0 60px;
      font-size: 30px;
      font-size: 2.5rem; } }
  @media (min-width: 1020px) {
    .front #hero .pane-node-field-strapline {
      top: 120px;
      height: 300px;
      padding: 180px 0 0 100px;
      font-size: 30px;
      font-size: 2.5rem; } }

.pane-node-field-page-image {
  position: absolute;
  height: 300px;
  overflow: hidden;
  left: 0; }

.pane-node-field-page-image img {
  min-width: 100%;
  min-height: 300px; }

#hero .pane-page-title {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: absolute;
  width: 100%;
  top: inherit;
  left: 0; }

/*SEARCH PAGE OVERRIDE AND OVERRIDE FOR THE PAGE UNDER CONSTRUCTION - NODE 23*/
.page-node-23 #hero .pane-page-title,
.page-search #hero .pane-page-title {
  top: 150px; }

#hero .pane-page-title h1 {
  position: relative;
  top: 0;
  width: 83%;
  padding: 20px 8.5%;
  color: white;
  font-family: "Frutiger LT W01_45 Ligh1475730";
  font-size: 30px;
  font-size: 2.5rem;
  margin: 0;
  z-index: 9; }

#hero .pane-node-field-strapline,
#hero .pane-node-field-project-strapline {
  position: absolute;
  top: 200px;
  width: 83%;
  padding: 50px 8.5%;
  font-size: 16px;
  font-size: 1.33333rem;
  color: white;
  font-family: "Frutiger LT W01_46 Ligh1475734";
  line-height: 1.5em;
  z-index: 8;
  max-width: 1220px;
  left: 0; }

/* GRIDDED DISPLAY */
@media (min-width: 768px) {
  #hero {
    position: relative;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image {
    position: absolute;
    height: 600px;
    overflow: hidden; }
  .pane-node-field-page-image img {
    min-width: 100%;
    min-height: 600px; }
  #hero .pane-page-title {
    position: absolute;
    height: 600px;
    top: 180px; }
  #hero .pane-page-title h1 {
    padding: 75px 8.5%;
    font-size: 40px;
    font-size: 3.33333rem; }
  #hero .pane-node-field-strapline,
  #hero .pane-node-field-project-strapline {
    position: absolute;
    top: 320px;
    width: 83%;
    padding: 50px 8.5%;
    font-size: 22px;
    font-size: 1.83333rem;
    color: white;
    font-family: "Frutiger LT W01_46 Ligh1475734";
    line-height: 1.5em;
    z-index: 8;
    max-width: 960px; } }

/* MAINTENANCE */
.maintenance-page .site-logo {
  width: 350px;
  margin: 0 auto;
  display: block; }

.maintenance-page .site-name {
  text-align: center;
  margin: 0 auto;
  display: block; }

.maintenance-page .l-header {
  height: 220px; }

img {
  width: 100%;
  height: auto; }

.pane-page-logo {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: none; }

#navigation {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: none; }

.pane-page-content {
  padding-bottom: 50px; }

@media (min-width: 768px) {
  .pane-page-logo {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  #navigation {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 1020px) {
  .pane-page-logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  #navigation {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.pane-page-tabs {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  float: none;
  margin-top: 20px; }

.twitter_signin {
  width: 130px; }

/*# sourceMappingURL=annex.styles.css.map */
