/* CSS Document */


$orange: #ea4e1b;
$orange50: #f4a68d;
$orange25: #f9d3c6;
$orange10: #fdede8;

$blue: #137f9a;
$blue50: #89bfcc;
$blue25: #c4dfe6;
$blue10: #e7f2f5;
	
$grey: #b6c5c9;
$lightgrey: #dae2e4;
	
/* Species & spaces */
$green:#6fb121;
$green50:#b7d890;
$green25:#dbebc7;
$green10:#f0f7e8;

/* Movement & materials */
$yellow:#fdc200;
$yellow50:#fee07f;
$yellow25:#fef0bf;
$yellow10:#fff9e5;

/* People & professions */
$red:#e92222;
$red50:#f49090;
$red25:#f9c8c8;
$red10:#fde8e8;

/*History & cultures */
$purple:#800cb0;
$purple50:#bf85d7;
$purple25:#dfc2eb;
$purple10:#f2e6f7;

/*History & cultures */
$pink:#e05181;
$pink50:#efa8c0;
$pink25:#f7d3df;
$pink10:#fcedf2;
